@charset "UTF-8";

#sRoom-container {
        width: 1200px;
    }
    #sRoom-h1 {
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
        margin-top: 10px;
    }
    #sRoom-img {
        background-color: palegoldenrod;
        width: 500px;
        height: 250px;
        float: left;
        border-radius: 10px;
        margin: 10px 50px;
        background-size: cover;
        background-position: center;
    }
    #sRoom-table {
        margin: 10px;
        width: 430px;
        float: left;
        border-collapse: separate;
        border-spacing: 0;
    }
    #sRoom-table td {
        padding: 30px 0; /* 간격을 늘림 */
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        font-size: 20px;
    }
    .sRoom-option:hover {
        cursor: pointer;
    }
    .clear {
        clear: both;
    }
    
    
    #store-container {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }
    .store-item-box {
        display: inline-block;
        vertical-align: top;
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 30px;
        padding: 10px;
        width: 280px;
        white-space: normal;
    }
    .store-high-container {
        overflow: hidden;
        padding: 10px 0 20px 0;
    }
    .store-high-container h3 {
        float: left;
        margin: 0;
    }
    .store-high-container .go-to-store {
        float: right;
    }

    .pack-img, .store-movie-img, .gift-img {
        background-color: gray;
        width: 80px;
        height: 80px;
        display: inline-block;
        vertical-align: middle;
    }
    .store-info-box {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    .store-info-box div {
        margin-bottom: 5px;
    }
    .go-to-store{
        background-color: transparent;
        border: 1px solid lightgray;
        border-radius: 50px;
        padding: 5px 10px;
    }

    .pack-price, .store-movie-price, .gift-price {
        font-weight: bold;
    }

    .item-box-info {
        padding: 10px 0;
    }
    
        #etc-container {
        width: 1000px;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 20px;
        margin: 50px 30px;
        white-space: nowrap;
        position: relative; /* 부모 요소에 상대 위치 설정 */
    }
    #etc-right-container, #etc-left-container {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    #etc-right-container {
    	width: 55%;
    }
    
    #etc-left-container {
        text-align: center; /* 가운데 정렬 */
        width: 45%;
    }
    #vertical-divider {
        position: absolute; /* 절대 위치 설정 */
        top: 20px;
        bottom: 20px;
        left: 55%;
        border-left: 1px solid lightgray; /* 세로 줄 */
    }
    #main-notice h4, #main-notice p, #main-notice button {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    #main-notice button {
    	background-color: transparent;
    	border: 1px solid lightgray;
	    border-radius: 50px;
	    padding: 3px 10px;
	    cursor: pointer;
    }
    
    #main-notice h4 {
        margin: 0 10px 0 0;
    }
    hr {
        border: 0;
        border-top: 1px solid lightgray;
        margin: 20px 0; /* 상하 마진 */
        width: 950px;
    }
    #main-cs-high h4, #etc-cs-info {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    #main-cs-high h4 {
        margin: 0 10px 38px 0;
    }
    
    #etc-button {
    	margin-top: 10px;
    }
    
    #etc-button button {
    	padding: 5px 10px;
	    border: none;
	    border-radius: 5px;
	    cursor: pointer;
    }