@charset "UTF-8";

main {
  position: relative;
}

#external-events {
  position: absolute;
  left: 50px;
  top: 100px;
  width: 280px;
  max-height: 300px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: center;
  overflow: auto;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 3px 0;
  cursor: move;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

.fc-h-event, .fc-event-main-frame {
  border: 0 !important;
}


.fc-event-main {
  padding: 5px;
  border: 0;
}

#calendar-wrap {
  margin: 50px 0px;
}

#calendar {
  max-width: 1100px;
  margin: 0 auto;
}

.btn-close{
	border-radius: 0 !important;
	margin: 5px auto;
}

.fc-event-main-frame{
	text-align: center;
}

.fc-event-main:hover .btn2{
	display: block;
} 
.btn2{
	display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.btn-outline-secondary {
    position: relative;
	top: -87px;
    left: 49px;
}