@charset "UTF-8";

#cinemaList {
    width: 100%;
    padding: 30px;

}

select {
    width: 200px;
    height: 30px;
    margin-right: 20px;
    border: 1px solid #e2e2e2;
    float: left;
}

select:focus {
    outline: none;
}

.main_title {
    font-size: 30px;
    margin: 10px;
    font-weight: 700;
    color: #816bff;
}

.select_title {
    font-weight: 500;
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.calendar-title {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.source-calendar,
.destination-calendar {
    padding: 5px;
    width: 1200px;
    height: 700px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    gap: 80px;
    /* 요소 사이의 간격 설정 */
}


.calendar-container {
    flex: 0 0 700px;
    height: 100%;
    float: left;
}