@charset "UTF-8";


#wrap {
    width: 100%;
    background-color: #333;
}

#tab_wrap {
	position: relative;
	top: 10px;
    width: 100%;
    height: 870px;
}

.main_tab {
    position: relative;
    width: 100%;
    float: left;
}


.schedule_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f82f62;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.tab_con {
    width: 100%;
    height: 820px;
    float: left;
}

.tab_con_1 {
    width: 350px;
    height: 100%;
    background-color: antiquewhite;
    border-right: 1px solid lightgray;
    box-sizing: border-box;

    float: left;
}

.tab_tit {
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    height: 55px;
    background-color: #e2e2e2;
}

.select_wrap {
    width: 100%;
    height: 765px;
}

.select_wrap>li {
    width: 50%;
    float: left;
}

.select_1 {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.region-item, .cinema-item {
    font-weight: 600;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 14px;
}

.select_2 {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.tab_con_2 {
    width: 850px;
    height: 100%;
    float: left;
}

.calendar {
    width: 100%;
    height: 765px;
    background-color: #fff;
    float: left;
}

.date_wrap {
    width: 830px;
    height: 96px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    margin: 0 auto;
}

#dateTabList{
	width: 100%;
    height: 80px;;
}

.date_tab>li{
    width: 50px;
    text-align: center;
    float: left;
    padding: 0 4px;
}


.room_wrap {
    width: 830px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    margin: 0 auto;
}
.room_tab{
	line-height: 50px;
	text-align: center;
}

.room_tab>li {
    width: 16.7%;
    font-size: 14px;
    float: left;
}
.room-item{
	color: lightgray;
}

.schedule_wrap{
	width: 830px;
	margin: 0 auto;
}
.movie_info{
	clear: both;
	margin: 10px;
}

.grade{
	float: left;
	margin-right: 10px;
}

.movie_tit{
    display: inline-block;
    height: 22px;
    font-size: 15.5px;
    line-height: 22px;
    font-weight: 600;
}
.dateInfo{
	width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 auto;
}
.dayInfo{
	font-weight: 500;
    font-size: 12px;
    text-align: center;
    margin-top: 6px;
}

.sche_box{
	width: 80px;
    height: 30px;
    margin: 10px 10px 20px 10px;
    padding: 8px 14px 5px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(248, 248, 248, 1) 100%);
}
.sche_start{font-weight: 700;}

.time_hover{
    display: none;
    position: relative;
    top: -60px;
}

.tool{
	width: 80px;
	line-height: 32px;
	background-color: #333;
	border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.tool_tip{
    width: 1px;
    border-top: 4px solid #333;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin: 0 auto;
    content: "";
}

.movieSelected {
    background: white;
    border: 3px solid pink;
    color: rgb(248, 47, 98);
    background: white url(/img/check.png) no-repeat;
    background-position: 140px 10px;
}

.selected .dateInfo {
	line-height: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    color: #fff !important;
}

.room-item.selected {
    color: #000;
    box-sizing: border-box;
    border-bottom: 2px solid #000;
}